<h1>Prueba funcional [ANGULAR] Mabtronoticias</h1>

<app-filtros-noticias></app-filtros-noticias>

<div id="container-cards-noticias">
    <div id="cards-container-noticias"></div>
</div>

<!-- Footer -->
<footer>
    <label>
        @2026 Mabtronoticias | mabtronoticias@gmail.com || Tunja - Boyaca
    </label>

    <div>
        <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/free.jpg" alt="Facebook" width="45" height="45">
        </a>

        <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/instagram.jpg" alt="Instagram" width="35" height="35">
        </a>

        <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/twitter.webp" alt="Twitter" width="35" height="35">
        </a>

        <a href="https://whatsapp.com" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/whatsapp.png" alt="Whatsapp" width="35" height="35">
        </a>
    </div>
</footer>